name: Despliege en Hostinger
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: pull codigo en VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
                    cd/usr/local/lsws/Example/html/django_main_page
                    git fetch origin main
                    git reset --hard origin/main
